<nav>
  <a (click)="showView('index')">Index</a>
  <a (click)="showView('create')">Create</a>
</nav>

<div *ngIf="currentView === 'index'">
  <h2>Classrooms</h2>

  <ul>
    <li *ngFor="let classroom of classrooms">
      <strong>Name:</strong> {{ classroom.name }}<br>
      <strong>Subject:</strong> {{ subjects[classroom.subject] }}<br>

      <button (click)="showView('edit', classroom)">Edit</button>
      <button (click)="deleteClassroom(classroom.id)">Delete</button>
    </li>
  </ul>
</div>

<div *ngIf="currentView === 'create'">
  <div>
    <h3>Add New Classroom</h3>
    <form (ngSubmit)="addClassroom()">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" [(ngModel)]="newClassroom.name" required>

      <label for="subject">Subject:</label>
      <select [(ngModel)]="newClassroom.subject" name="subject">
        <option *ngFor="let option of subjectOptions" [value]="option">
          {{ subjects[option] }}
        </option>
      </select>

      <button type="submit">Add Classroom</button>
    </form>
  </div>
</div>

<div *ngIf="currentView === 'edit'">
  <p>Edit Classroom View</p>
  <form *ngIf="selectedClassroom" (ngSubmit)="updateClassroom(selectedClassroom.id, selectedClassroom)">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" [(ngModel)]="selectedClassroom.name" required>

    <label for="subject">Subject:</label>
    <select id="subject" name="subject" [(ngModel)]="selectedClassroom.subject" required>
      <option *ngFor="let subject of subjectOptions" [value]="subject">{{ subjects[subject] }}</option>
    </select>

    <button type="submit">Save Changes</button>
  </form>
</div>
