
<nav>
  <a (click)="showView('index')">Index</a>
  <a (click)="showView('create')">Create</a>
  <a (click)="showView('edit')">Edit</a>
</nav>

<div *ngIf="currentView === 'index'">
  <h2>Subject Categories</h2>

  Display Subject Categories
  <ul>
    <li *ngFor="let category of subjectCategories">
      {{ category.name }}
      <button (click)="showView('edit', category)">Edit</button>
    </li>
  </ul>
</div>

<div *ngIf="currentView === 'create'">
  <div>
    <h3>Add New Subject Category</h3>
    <form (ngSubmit)="addSubjectCategory()">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" [(ngModel)]="newSubjectCategory.name" required>
      <button type="submit">Add Category</button>
    </form>
  </div>
</div>

<div *ngIf="currentView === 'edit'">
  <p>Edit Subject Category View</p>
  <form *ngIf="selectedCategory" (ngSubmit)="updateSubjectCategory(selectedCategory.subjectCategoryId, selectedCategory)">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" [(ngModel)]="selectedCategory.name" required>
    <button type="submit">Save Changes</button>
  </form>
</div>
